<div class="layout layout--col layout--stretch-x layout--stretch-y">
  <div class="flex flex--col flex--evenly stretch-y stretch-x">

    <!-- Status -->
    <div class="flex flex--center-x">
      {% if is_surplus %}
      <span class="label label--filled">Carbon Negative</span>
      {% elsif is_net_zero %}
      <span class="label label--filled">Net Zero</span>
      {% else %}
      <span class="label label--outline">Carbon Deficit</span>
      {% endif %}
    </div>

    <!-- Metrics -->
    <div class="flex flex--bottom gap--small">
      <div class="grow text--center">
        <span class="value value--xsmall">{{ co2_grams }}g</span>
        <span class="label label--small label--underline">CO2</span>
      </div>
      <div class="grow text--center">
        <span class="value value--xxsmall">{{ total_requests }}</span>
        <span class="label label--small label--underline">Requests</span>
      </div>
      <div class="grow text--center">
        <span class="value value--xxsmall">{{ total_tokens }}</span>
        <span class="label label--small label--underline">Tokens</span>
      </div>
    </div>

    <!-- Carbon debt -->
    <div class="stretch-x">
      <div class="flex flex--between flex--bottom stretch-x">
        <span class="label label--small">Debt</span>
        <span class="value value--xxsmall">{{ neutralized_pct }}%</span>
      </div>
      <div class="progress-bar progress-bar--xsmall stretch-x">
        <div class="track">
          {% if is_surplus %}
          <div class="fill" style="width:100%;"></div>
          {% elsif is_net_zero %}
          <div class="fill" style="width:100%;"></div>
          {% else %}
          <div class="fill" style="width:{{ neutralized_pct }}%;"></div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
<div class="title_bar">
  <span class="title">Carbon Proxy</span>
</div>
